root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# windows files
[*.{bat,cmd,ps1}]
end_of_line = crlf

# files imported from external/scripted sources should ignore formatting
[script-docs/*]
indent_style = unset
indent_size = unset
end_of_line = unset
charset = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
